<div class="container">
  <div class="abs-center">
    <form action="#" class="border p-3 form">
     <!--qr-->
     <select #selectList (change)="selectCamera(selectList.value)" style="width:100px;height: 20px;" >
      <option *ngFor="let camera of cameras" value={{camera.label}}>
        {{camera.label}}
      </option>
    </select>
    
    <div class="abs-center2 kt-portlet__body">
      <zxing-scanner style="width:230px; "
      [enable]="scannerEnabled"
      [device]="myDevice"
      (camerasFound)="camerasFoundHandler($event)"
      (scanSuccess)="scanSuccessHandler($event)"
    ></zxing-scanner>
    </div>
   
     <!--qr-->
     <!--formulario-->

     <span>Almacén:</span>
     <div class="input-group input-group-sm mb-3">
        
       <div class="input-group input-group mb-3">
         <div class="input-group-text">
           <input class="form-check-input mt-0" id="check1" type="checkbox" value="" aria-label="Checkbox for following text input">
         </div>
         
         <button class="btn btn-outline-secondary" type="button" id="button-addon1" (click)="vaciarArea()"><i class="fa-sharp fa-solid fa-broom"></i></button>
         <input type="text" class="form-control" placeholder="Area"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"value="{{area}}" id="txtarea"  placeholder="Almacén" #newArea >
      
       </div>

        </div>
        <span >Lote:</span>
       <div class="input-group input-group mb-3">
        
         <input type="text" class="form-control LTab"placeholder="Area"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"value="{{lote}}" id="txtarea" placeholder="Lote" #new disabled>
       </div>

     <div  class="col-md-6">
         <div class="form-group">
             <input type="hidden" class="form-control" placeholder="Lote" id="lotes" value="{{lote}}" #newLote>
         </div>

     </div>
    
     <div  class="col-md-6">
         <div class="form-group">
             <input type="hidden" class="form-control" placeholder="Ordén" value="{{orden}}" #newOrden>
         </div>

     </div>

     <div  class="col-md-6">
         <div class="form-group">
             <input type="hidden"  class="form-control" placeholder="Producto" id="prod" value="{{producto}}" #newProducto>
         </div>

     </div>

     <div  class="col-md-6">
         <div class="form-group">
             <input type="hidden"   class="form-control" placeholder="Código" id="code" value="{{codigo}}" #newCodigo>
         </div>

     </div>

     <div  class="col-md-6">
       
         <div class="form-group">
             <input type="hidden"  class="form-control"  placeholder="kilos" id="klo" value="{{kg}}" #newKg>
         </div>
     </div>

     <div  class="col-md-6">
         
         <div class="form-group">
             <input type="hidden"  class="form-control" placeholder="Metros" id="Mtro" value="{{mtr}}" #newMtr>
         </div>
     </div>
     <div class="d-grid gap-2">
      <button  style="height: 90px;" type="button" class="btn btn-success btn.lg"   (click)="addTask(newArea,newLote ,newOrden,newProducto,newCodigo,newKg ,newMtr);suma()" id="clic" class="btn btn-primary "
      ><i class="fa-solid fa-database"></i> Agregar</button>
    </div>
     <!--formulario-->
   
    </form>
  </div>
</div>
<br>

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg  width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34; ); background-color: rgb(43, 42, 42); color: aliceblue;"  aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item eexport" style="float:left;"><button class="btn btn-success" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .85rem;" (click)="openModal(template);"><i class="fa-solid fa-file-export"></i> Exportar a excel</button></li>
    <li class="breadcrumb-item LTab"style="float:right;"><button class="btn btn-danger" (click)="limpiarTabla()" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .85rem;"><i class="fa-solid fa-broom" ></i> Limpiar tabla</button></li>
     </ol>
</nav>
<!--nav extra-->
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg  width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34; ); background-color: rgb(43, 42, 42); color: aliceblue;"  aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page" style="color: rgb(0, 153, 255);font: size 8px;">Cantidad:{{total}}</li>
    <li class="breadcrumb-item active" aria-current="page" style="color: rgb(0, 255, 128);font: size 8px;">Kilos totales:{{kgTotales}}</li>
    <li class="breadcrumb-item active" aria-current="page" style="color: rgb(240, 195, 111);font: size 9px;">Metros totales:{{mtrTotales}}</li>
  </ol>
</nav>
<br>


<div class="container io"style="background-color: rgb(233, 233, 233);">
  
 <div class="table-responsive">
  <table id="season-tble" class="table">
      <thead>
          <tr>
              <th scope="col">Almacén</th>
              <th scope="col">Lote</th>
              <th scope="col">Ordén</th>
              <th scope="col" class="text-center">Producto</th>
              <th scope="col" class="text-right">Código</th>
              
              <th scope="col" class="text-right">Kilos</th>
              
              <th scope="col" class="text-right">Metros</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let task of tasks">
          
              <td>{{task.area}}</td>
              <td>{{task.lote}}</td>
              <td>{{task.orden}}</td>
              <td>{{task.producto}}</td>
              <td>{{task.codigo}}</td>
              <td>{{task.kg}}</td>
              <td>{{task.mtr}}</td>
              
            </tr>
      </tbody>
      <tfoot>
          <tr>
              
              <td class="text-right" style="color: red;"><strong>total de lotes: {{total}}</strong></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
               <td class="text-right" style="color: red;"><strong >kilos totales: {{kgTotales}}</strong></td>
              <td class="text-right" style="color: red;"><strong >metros totales: {{mtrTotales}}</strong></td>
          </tr>
      </tfoot>
  </table>
</div>


</div>



     
  
  <!--modales-->
  <!--modal para  salida de activo-->
  <ng-template class="wrapper bg-white" #template>
    <div class="modal-header">
      <div class="h6 text-muted text-center pt-2" ><i class="fa-solid fa-triangle-exclamation triangle"></i></div>
      <button
        type="button"
        class="close pull-rigth"
        aria-label="Close"
        (click)="bsModalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
   <br>

  <form class="rounded mb-0 m-4 p-4 needs-validation novalidate" >
    <h6 ><i class="fas fa-info-circle"></i> Agrega un nombre para este documento</h6>
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fa-solid fa-file-excel"></i></span>
      <input type="text" class="form-control" placeholder="Nombre del archivo.xlsx" name="name" id="txtNamed" required >
    </div>
  </form>
    
     
    <!--inicio-->
   
   <!-- <div class="h2 text-center">Creativity</div>-->
      
     
            
           <button class="btn btn-primary"  (click)="saveSomeThing() "><i class="fa-solid fa-file-arrow-down"></i> Descargar</button>
          
 <br>
  
    <!--fin-->
  </ng-template>
  <!--modal para  salida de activo-->